<div class="page-header">
<h1 class="header-title">{{str.header_headline}}</h1>
<ul class="header-menu">
    <li><a href="javascript:switchLang();"><img src="/assets/images/{{str.switch_lang_img}}.svg" width="30" height="23" class="change-language" /></a></li>

    {{#unless dashboard}}
        <li><a href="/" class="header-menu-item">{{str.header_dashboard}}</a></li>
    {{/unless}}

    {{#if user}}
        {{#unless userDetailPage}}
            <li><a href="/user" class="header-menu-item">{{str.header_user}}</a></li>
        {{/unless}}
    {{else}} 
        {{#unless loginPoge}}
            <li><a href="/login" class="header-menu-item">{{str.header_login}}</a></li>
        {{/unless}}
    {{/if}}

</ul>

</div>


<script src="/js/lang.js"></script>