<article>
{{#if user}}
<a href="/comp/create">{{str.dashboard_new_comp}}</a>
{{/if}}

<div class="dashboard">
    {{#each comp}}
    <div class="comp">
    <h3><a href="/comp/detail?id={{this.id}}">{{this.name}}</a></h3>
    {{this.date}} <br />
    {{this.shortDescription}} <br />
    {{/each}}
    </div>
</div>

</article>

<script src="/js/dashboard.js"></script>
