<form class="create-competition">
{{str.form_competition_name}} <input type="text" name="username" class="name-input" /> <br />
{{str.form_competition_date}}<input type="text" name="username" class="name-input" /> <br />
{{str.form_competition_short_description}}<textarea type="textfield" name="username" class="short-description-input" rows="4" cols="50"></textarea><br />
{{str.form_competition_description}}<textarea type="text" name="username" class="description-input" rows="6" cols="50"></textarea> <br />
{{str.form_competition_info_text}}<br />
<input type="submit" value="{{str.form_competition_create_button}}" /> <br />
</form>

<script src="/js/comp.js"></script>